html, body {
  height: 100%;
}

body{
  margin: 0;
}

#dashboard {
  margin: 0;
  height:100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: "sidebar header"
                       "sidebar main-content";
}

#header {
  grid-area: header;
  background-color: white;
}

#sidebar {
  margin: 0;
  padding: 1em 1em;
  grid-area: sidebar;
  background-color: deepskyblue; 
  
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 8rem;
}

#sidebar ul{ 
  padding: 0;
  margin: 0;
}

#sidebar li {
  list-style-type: none;
}

#main-content {
  grid-area: main-content;
  background-color: lightgray;
  
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "projects announcements"
                       "projects trending";
}

#projects {
  grid-area: projects;
}

#projects>.card {
  background-color: white;
}

#announcements {
  grid-area: announcements;
}

#trending {
  grid-area: trending;
}