:root {
  --main: #16161a;
  --background: #242629;
  --sidebar: #7f5af0;
  --border:#010101;
  --card-paragraph: #94a1b2;
  --card-header: #fffffe;
  --header-text: #fffffe;
  --button: #7f5af0;
  --button-text: #fffffe;
  --sidebar-text: #fffffe;
  --main-heading: #fffffe;
  --announcement-divider: #7e8c9e;
  --search-background: #fffffe;
  
  font-family: font;
}

*  {
  font-family: 'Roboto';
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}

html, body {
  height: 100%;
}

body{
  margin: 0;
}

a {
  text-decoration: none;
}



#dashboard {
  margin: 0;
  height:100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: "sidebar header"
                       "sidebar main-content";
}

h2 {
  margin: 0 0 1em 0;
}

.heading {
  line-height: 1em;
  color: var(--main-heading);
}


#sidebar {
  margin: 0;
  padding: 1em 1em;
  grid-area: sidebar;
  background-color: var(--sidebar);
  color: var(--sidebar-text);
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 8em;
}

#sidebar ul{ 
  padding: 0;
  margin: 0;
}

#sidebar li {
  list-style-type: none;
  font-size: 1.25rem;
}

#sidebar a {
  color: var(--sidebar-text);
}

#header {
  background-color: var(--main);
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 0 1em 0 1em;
  color: var(--header-text);
}

#search {
  display: flex;
}

#searchbar {
  width: 100%;
  height: 2rem;
  border: none;
  background-color: var(--search-background);
}

#profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#greeting {
  display: flex;
  align-items: center;
}

#greeting-text {
  display: grid;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 40px;
}

button {
  width: 6em;
  height: 2em;
  background-color:var(--button);
  color: var(--button-text);
  border-radius: 2em;
  border: none;
}

#main-content {
  padding: 20px;
  grid-area: main-content;
  background-color: var(--background);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "projects announcements"
                       "projects trending";
  gap: 20px;
}

#main-content > * {
  display: grid;
  grid-template-rows: repeat(2, max-content);
}
#projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
}


#cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 40px;
  height: 100%;
}
.card {
  background-color: var(--main);
  border-radius: 10px;
  color: var(--card-paragraph)
}

.card h3,
.card h4,
.card a {
  color: var(--card-header);
}

#announcements {
  grid-area: announcements;
}

#announcements .card {
  height: 100%;
}

.divider {
  background-color: var(--announcement-divider )  ;
  height: 1px;
}

#trending{
  grid-area: trending;
}

#trending, 
#announcements {
  display: flex;
  flex-direction: column;
}

#trending .card {
  height: 100%;
  display: grid;
  gap: 15px;
}

.trending-user {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "avatar user-name"
                       "avatar trend";
}

.avatar {
  grid-area: avatar;
}

.user-name {
  grid-area: user-name;
}

.trend {
  grid-area: trend;
}